@import 'styles/breakpoints';
@import 'styles/variables';

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;

  strong {
    margin: 10px 0;
  }

  &__errorMessage {
    font-style: italic;
    color: $error;
  }
}