$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

// colors
$background-color-light: #ffffff;
$text-color-light: #333333;
$blue-light: #2980b9;
$green-light: #2ecc71;
$blue-dark: #3498db;
$error: #E74C3C;
