@import './variables';
@import './breakpoints';

.container {
  padding: 50px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 50px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $padding-horizontal-md;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.link {
  margin-top: -10px;
  color: $blue-light;
  text-align: right;
  width: 100%;
  max-width: 500px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $blue-dark;
    text-decoration: underline;
  }
}

.error {
  font-style: italic;
  color: $error;
  text-align: center;
}
