@import '@styles/variables';
@import '@styles/breakpoints';

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__forgotPassword {
    margin-top: -10px;
    color: $blue-light;
    text-align: right;
    width: 100%;
    max-width: 500px;
    text-decoration: none;

    &:hover {
      color: $blue-dark;
      text-decoration: underline;
    }
  }
}
