@import '@styles/variables';

.container {
  strong {
    color: $blue-dark;
  }
}

.verifyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__verificationCode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 2rem 0;
  }

  &__resendEmail {
    text-align: center;
    margin-bottom: 2rem;
  }
}
