@import '@styles/variables';
@import '@styles/breakpoints';

.stepper {
  display: flex;
  align-items: center;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: $background-color-light;
    background-color: #cccccc;
    transition: all 0.5s linear;

    &--active {
      background-color: $blue-light;
    }
  }

  &__line {
    height: 0.25rem;
    width: 3rem;
    background-color: #cccccc;
    transition: all 0.5s linear;

    &--active {
      background-color: $blue-light;
    }
  }
}
