@import '@styles/breakpoints';
@import '@styles/variables';

.registerForm {
  &__inputWrapper,
  &__buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__inputWrapper {
    margin-bottom: 2rem;
  }
}
