@import '@styles/breakpoints';
@import '@styles/variables';

.signupView {
  &__stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

.signupStep {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  &__buttonWrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
