@import '@styles/variables';

.button {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: linear 0.2s;

  &--filled {
    border: 0px;
    color: $background-color-light;
    background-color: $blue-light;

    &--disabled {
      background-color: #cccccc;
      color: $background-color-light;
      box-shadow: none;
      cursor: default;
    }

    &:hover:not(&--disabled) {
      background-color: $blue-dark;
    }
  }

  &--outlined {
    background-color: transparent;
    border: 2px solid $blue-light;
    color: $blue-light;

    &--disabled {
      border-color: #cccccc;
      color: #cccccc;
      cursor: default;
      box-shadow: none;
    }

    &:hover:not(&--disabled) {
      color: $blue-dark;
    }
  }
}
