@import 'styles/variables';

.inputText {
  width: 100%;
  max-width: 500px;

  label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
  }

  input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #c5c5c5;
    background-color: #f5f5f5;
  }

  &--error {
    label {
      color: $error;
    }
  
    input {
      border: 1px solid $error;
    }
  }
}

.inputError {
  color: $error;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 300;
}