body {
  background-color: #c5c5c5;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main,
body,
html,
#root {
  height: 100%;
  width: 100%;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
