@import 'styles/variables';
@import 'styles/breakpoints';

.sideForm {
  padding: 2rem 2rem;
  background-color: $background-color-light;
  height: 100%;
  
  @media screen and (min-width: $desktop_xsm) {
    width: 40%;
    align-self: flex-end;
    border-radius: 2rem 0 0 2rem ;
  }
}


